* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.centratura {
  padding: 0 5%;
}

/* header */
.header-container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: black;
}

#logo h1{
  color: red;
  font-size: 2.5em;
}

/* main */

.main-container {
  background-color: grey;
  height: calc(100vh - 90px);
  width: 100%;
}

.titoli {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  padding-top: 20px;
}

.card {
  position: relative;
  display: flex;
  height: 513px;
  width: 342px;
  border-radius: 10px;
  background-color: black;
  color: white;
  flex-shrink: 0;
  margin: 0 20px;
  justify-content: center;

}

.card ul {
  list-style: none;
  padding: 10px 10px;
}

.card .fas, .card .far {
  color: yellow;
}

.poster {
  position: absolute;
}

.poster img {
  border-radius: 10px;
}

.card:hover .poster {
  display: none;
}
